

.body {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  list-style-type: none;
  margin: 100px 100px 100px 100px;
  padding: 100px;
  /*text-align: center;*/
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;


  padding-top: 100px;
}


.label1 {
  font-size: 12px;
  text-align: left;
}